body{
    background-image: url(../money.jpg);
    
  }
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
  .tagline{
    background-color: white;
    padding: 20px;
    font-weight: bold;
    font-family: 'Alfa Slab One';
    opacity: 0.85;
    
  }

  .top-buffer{ 
    margin-top: 200px;
    
  }
  .welcome{
    align-content: center;
    background: white;
  }

  .login-button{

  background: white;
  margin-top: 20px;
  opacity: 0.85;
  }
  .input-field {
    background: white;
    opacity: 0.85;
  }

  .register-button {
    background: white;
    opacity: 0.85; 
    margin-top: 20px
  }
  
  .app-greet {
    background: white;
    opacity: .95;
    padding-top: 30px;
    margin-right: 20px;
  }