body{
    background-image: url(../money.jpg);
    
  }
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
  h4{
    background-color: white;
    padding: 20px;
    font-weight: bold;
    font-family: 'Alfa Slab One';
    
  }

  .register{
    
  }